[Unit]
Description=PPS-Client systemd service.

[Service]
ExecStartPre=/bin/sleep 3
PIDFile=/run/pps-client.pid
ExecStart=/usr/sbin/pps-client
ExecStop=/bin/bash /usr/sbin/pps-client-stop
Restart=always

[Install]
WantedBy=multi-user.target
