[Unit]
Description=PPS-Client systemd service.

[Service]
Type=forking
PIDFile=/run/pps-client.pid
ExecStart=/usr/sbin/pps-client
ExecStop=/bin/bash /usr/sbin/pps-client-stop

[Install]
WantedBy=multi-user.target
